Twitter Sentiment Analysis COVID (1).json
[{"id":"55b309b.21837f8","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"9eb6698d.953858","type":"ui_template","z":"55b309b.21837f8","group":"bd6e1a4a.c61cc8","name":"","order":0,"width":"6","height":"8","format":"<html>\n    <style>\n        body{\n            background-image:url('https://blog.datumbox.com/wp-content/uploads/2013/09/twitter2-720x540.jpg');\n            background-repeat:no-repeat;\n            background-position: left center;\n        }\n    </style>\n    <body>\n        <img ng-src={{msg.url}} alt=\"Image\">\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":300,"wires":[[]]},{"id":"17317ff0.b1b38","type":"ui_form","z":"55b309b.21837f8","name":"","label":"","group":"bd6e1a4a.c61cc8","order":1,"width":0,"height":0,"options":[{"label":"Enter the tweet","value":"tweet","type":"text","required":true,"rows":null}],"formValue":{"tweet":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":160,"wires":[["fe4c8bed.258d38"]]},{"id":"fe4c8bed.258d38","type":"function","z":"55b309b.21837f8","name":"","func":"msg.payload = msg.payload.tweet\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":160,"wires":[["406fbc7f.3bcca4"]]},{"id":"a2f6ecf8.f85d4","type":"debug","z":"55b309b.21837f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":100,"wires":[]},{"id":"406fbc7f.3bcca4","type":"watson-tone-analyzer-v3","z":"55b309b.21837f8","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/0c596359-44df-4c99-8415-870476e1e84c","x":340,"y":220,"wires":[["73ee4324.34f24c"]]},{"id":"73ee4324.34f24c","type":"function","z":"55b309b.21837f8","name":"","func":"msg.payload = msg.response;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["8af97952.657998"]]},{"id":"8af97952.657998","type":"function","z":"55b309b.21837f8","name":"","func":"msg.payload=msg.payload.document_tone.tones[0].tone_name\nif(msg.payload=='Joy'){\n    msg.url=\"https://cdn.pixabay.com/photo/2019/02/19/19/45/thumbs-up-4007573__340.png\"\n}\nelse if(msg.payload=='Anger'){\n    msg.url=\"https://cdn.imgbin.com/18/17/15/imgbin-smiley-emoticon-anger-angry-emoji-pic-yellow-angry-emoji-illustration-Vv2G3tyL03AEaDUiJb8feYqLz.jpg\"\n}\nelse if(msg.payload=='Disgust'){\n    msg.url=\"https://img.favpng.com/25/4/13/smiley-emoticon-clip-art-png-favpng-2WxWxsM81bUSUiJyzUAGD2ANq.jpg\"\n}\nelse if(msg.payload=='Fear'){\n    msg.url=\"https://i.pinimg.com/originals/11/98/fd/1198fd1fc213b2df07b871d2d418a883.jpg\"\n}\nelse if(msg.payload=='Sadness'){\n    msg.url=\"https://i.pinimg.com/originals/09/fc/3b/09fc3ba997d72105b72c1463e2e2ae20.png\"\n}\nelse{\n    msg.url=\"https://lionbridge.ai/wp-content/uploads/2018/10/ai-terms_sentiment-analysis.jpg\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":220,"wires":[["a2f6ecf8.f85d4","9eb6698d.953858"]]},{"id":"bd6e1a4a.c61cc8","type":"ui_group","z":"","name":"Inputs","tab":"3c508e7c.5cd512","order":1,"disp":true,"width":"6","collapse":false},{"id":"3c508e7c.5cd512","type":"ui_tab","z":"","name":"Twitter Sentiment Analysis","icon":"dashboard","disabled":false,"hidden":false}]